<h1>Editing Bookmark</h1>

<%= render 'form', bookmark: @bookmark %>

<%= link_to 'Delete', bookmark_path(@bookmark), method: :delete, data: { confirm: 'Are you sure?' }%> |
<%= link_to 'Back', root_path %>
